body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0A0A0A;
    color: #D4AF37;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #D4AF37;
    color: #0A0A0A;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}
